attrs==22.2.0
bitstring==4.0.1
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
fonttools==4.38.0
gprof2dot==2022.7.29
graphviz==0.20.1
h5py @ file:///D:/My_Folders/TN_learn/h5py-3.7.0-cp311-cp311-win_amd64.whl
iniconfig==2.0.0
kiwisolver==1.4.4
matplotlib==3.7.0
mpmath==1.2.1
numpy==1.24.3
opt-einsum==3.3.0
packaging==23.0
parsimonious==0.10.0
Pillow==9.4.0
platformdirs==3.0.0
pluggy==1.0.0
ply==3.11
pyparsing==3.0.9
pyqcisim==1.0.2
pytest==7.2.1
python-dateutil==2.8.2
pytools==2022.1.14
quantumsim==0.2.0
regex==2022.10.31
scipy==1.10.1
six==1.16.0
sympy==1.11.1
tensornetwork==0.4.6
